[project]
	description = linux kernel (2.6.32)
[access "refs/*"]
	owner = group user/JiangWeifeng (jiangweifeng04)
[access "refs/for/refs/*"]
	read = group user/JiangWeifeng (jiangweifeng04)
	push = group user/JiangWeifeng (jiangweifeng04)
	label-Code-Review = -2..+2 group user/JiangWeifeng (jiangweifeng04)
	label-Verified = -1..+1 group user/JiangWeifeng (jiangweifeng04)
	rebase = group user/JiangWeifeng (jiangweifeng04)
	removeReviewer = group user/JiangWeifeng (jiangweifeng04)
	submit = group user/JiangWeifeng (jiangweifeng04)
[access "refs/heads/*"]
	read = group user/JiangWeifeng (jiangweifeng04)
	create = group user/JiangWeifeng (jiangweifeng04)
	push = +force group user/JiangWeifeng (jiangweifeng04)
	pushMerge = group user/JiangWeifeng (jiangweifeng04)
[access "refs/tags/*"]
	push = +force group user/JiangWeifeng (jiangweifeng04)
	pushTag = group user/JiangWeifeng (jiangweifeng04)
	pushSignedTag = group user/JiangWeifeng (jiangweifeng04)
